.main-container{
    
}



.conversor-2, .conversor-3, .conversor-2-sum{
    display: none;
}

.title{
    font-size: 60px;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.conversor-container-title{
    text-align: center;

    font-size: 30px;
    font-weight: 500;

    /* margin-bottom:40px; */

    /* color: var(--secondary-color); */

    /* display: inline-block; */
    margin: 0 auto;
}










.conversor{
    background-color: var(--conversor-background);

    padding: 60px;
    border-radius: 20px;

    /* margin: 60px 0; */
}

.conversor-title{
    text-align: center;

    font-size: 30px;
    font-weight: 500;

    /* margin-bottom:40px; */

    /* color: var(--secondary-color); */

    /* display: inline-block; */
    margin: 0 auto;

    border-bottom:4px solid var(--secondary-color);
    width: fit-content;
    /* width: calc(fit-content+3px); */

}

/* .conversor-title-line{
    display: inline;
    margin: 0 auto;
    width: 10em;
    height: 4px;

    background-color: var(--secondary-color);
    border-radius: 20px;
} */

.conversor-buttons{
    max-width: 950px;
    margin: 0 auto;
    margin-top: 30px;

}

.conversor-buttons p{
    text-align: center;
    font-size: 25px;
    
}



.conversor-buttons-options{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
    margin-bottom: 40px;

    
}

.conversor-button{
    background-color: var(--primary-color);
    color: var(--theme-color);
    border: none;
    font-size: 26px;
    
    padding: 0.5em 1em;
    border-radius: 7px;
    cursor: pointer;

    margin-top: 15px;

    transition: filter .3s;
}



.op1,.op2, .suma-binario, .suma-hexadecimal{
    background-color: var(--secondary-color);
}

.conversor-button:hover{
    filter: brightness(130%);
    
}




.conversor-options{
    display: flex;

    justify-content: space-around;

    margin: 40px 0;
}

.conversor-item-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    /* align-items: space-around; */
    /* align-items: center; */
    /* justify-content: center; */

    color:var(--color-text-inverse);
    background-color: var(--theme-color-inverse);
    border-radius: 20px;
    width: fit-content;
    padding: 30px;
}

.conversor-item, .input-conversor-sum::placeholder {
    /* margin: 0 auto; */
    text-align: center;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    /* color:red; */
}

.input-conversor-sum::placeholder{
    color:var(--color-text-placeholder);
    text-align: start;
}

.conversor-ans, .conversor-ans-sum{
    display: inline;
    margin: 0 10px;
    font-size: 27px;
}

.input-conversor, .input-conversor-sum{
    border: none;
    
    width: 100%;
    max-width: 250px;
    background: none;
    color: var(--color-text-inverse);
    border-bottom: 2px var(--color-text-inverse) solid;
    font-size: 20px;
    font-weight: 500;
    margin: 5px 10px;


}

.conversor-item p,.conversor-item label{
    display: inline;
    font-weight: 400;
}

.conversor-item p{
    color:var(--secondary-color);
    font-weight: 500;
    
}

.conversor-item-signo-mas{
    color:var(--theme-color-inverse);
}

.conversor-item-signo-mas-df{
    display: flex;
}




.conversor-tutorial{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.conversor-tutorial-title{
    align-self: center;

    font-size: 30px;
    font-weight: 500;

    border-bottom:4px solid var(--secondary-color);
    width: fit-content;
}

.conversor-tutorial-text{
    /* background-color: red; */
    font-size: 18px;
    padding: 20px;
    /* margin: 100px 0; */
}

.conversor-tutorial-text img{
    /* margin: 10px 0; */
    border-radius: 7px;
    /* min-width: 200px; */
    background-color: var(--theme-color-inverse);
    padding: 5px;
}

.subtitulo{
    font-weight: 600;
}


.conversor-buttons-options-sum{
    justify-content: space-around;
}

.conversor-title-sum{
    margin-bottom: 30px;
    border-bottom:4px solid var(--primary-color);
}

.conversor-tutorial-title-sum{
    border-bottom:4px solid var(--primary-color);
}







.conversor-op2{
    display: none;
}

.conversor-on{
    display: block;
}

.conversor-off{
    display: none;
}
@media(max-width:950px){
    .title{
        font-size: 40px;
        margin-bottom: 15px;
        color: var(--primary-color);
    }
    
    .conversor-title{


        font-size: 25px;
    }
    

    
    
    
    
    .conversor{
        background-color: var(--conversor-background);
    
        padding: 30px;
        border-radius: 20px;
    
        /* margin: 60px 0; */
    }
    

    
    .conversor-buttons p{
        text-align: center;
        font-size: 20px;
        
    }
    
    
    
    .conversor-buttons-options{
        display: flex;

        flex-direction: column;
        align-items: center;

        width: 100%;
        justify-content: space-between;
        
        /* margin-bottom: 20px 0px; */
    
        
    }
    
    .conversor-button{
        background-color: var(--primary-color);
        color: var(--theme-color);
        border: none;
        font-size: 23px;
        
        padding: 0.5em 1em;
        border-radius: 7px;
        cursor: pointer;
    
        margin-top: 15px;
    
    }
    

    
    .op1,.op2{
        background-color: var(--secondary-color);
    }
    
    /* .conversor-button:hover{
        filter: brightness(130%);
    } */
    
    
    
    
    .conversor-options{
        display: flex;
        flex-direction: column;
        align-items: center;
    
        justify-content: space-around;
    
        /* margin: 40px 0; */

        /* background-color: red; */
    }


    /* .conversor-option{
        background-color: red;
    } */

    .conversor-item{
/* background-color: rebeccapurple; */
        font-size: 22px;
    }



    .input-conversor{

        font-size: 20px;

    }

    .conversor-ans{

        font-size: 24px;
    }



    
    .conversor-tutorial-title{

        font-size: 25px;

    }
    
    .conversor-tutorial-text{
        /* background-color: red; */
        font-size: 18px;
        margin: 10px auto;

    }

    .conversor-tutorial-text img{
        
        margin-top: 20px;
        width: 190px;
        transform: scale(1.4);
    }
    



    .conversor-on{
        display: block;
    }
    
    .conversor-off{
        display: none;
    }
}

